.homebanner {
  height: 50vh;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  display: flex;
  justify-content: flex-end;


  &__content {
    &-container {
      text-align: center;
      padding: 45px 20px 20px 20px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &-text {
      color: #fff;
      font-size: 1.3rem;
      line-height: 30px;
      font-weight: bold;
      border-bottom: 10px;
    }
    &-link {
      text-decoration: none;
      background-color: black;
      color: #fff;
      padding: 7px;
      margin: 25px auto;
      display: block;
      width: 130px;
    }
  }
}

@media (min-width: 767px) {
  .homebanner {
    background-position: center;
  }
}

@media (min-width: 1023px) {
  .homebanner {
    justify-content: flex-end;
    &__content {
      &-container {
        width: 50%;
      }
      &-text {
        font-size: 1.5rem;
      }
    }
  }
}
