.slider {
  height: 40vh;
  margin-top: 15px;

  &__slide {
    border: 2px solid blue;
    background-repeat: no-repeat;
    background-size: contain;
  }

};

.dupsko {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
