.container {
  background-color: #000;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.link {
  text-decoration: none;
}

.links {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  &__icon {
    color: #fff;
    font-size: 2rem;
    margin: 0 5px;
    &:hover {
      font-weight: bold;
    }
  }
  &__item {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0;

    &:hover {
      font-weight: bold;
    }
  }
}

.contact {
  &__container {
    padding: 20px;
    text-align: center;
  }
  &__label {
    color: #fff;
    margin: 7px 0;
  }
  &__link {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 3% 20%;
  }
}
