.container {
  padding: 10px 0;
  text-align: center;

}

.product-detail-section {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.related-products-section {
  margin: 25px 0;
}

.product {
  &__title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 15px 0;
  }

  &__price {
    text-transform: uppercase;
    margin: 15px 0;
    &-span {
      font-weight: bold;
    }
  }

  &__id {
    text-transform: uppercase;
    text-decoration: underline;
    margin: 15px 0;
    font-size: 0.95rem;
  }

  &__description {
    font-size: 0.85rem;
  }

  &__size {
    &-container {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
    }

    &-label {
      margin-bottom: 5px;
      font-size: 0.9rem;
    }

    &-select {
      border: 2px solid #000;
      width: 100%;
      padding: 7px;
      margin: 0 auto;
    }
  }
}

.product-info {
  &__container {
    //border: 2px solid red;
    width: 100%;
  }
}

.addtocartbtn {
  width: 100%;
  padding: 15px;
  margin: 25px auto 20px;
  border: none;
  display: block;
  text-decoration: none;
  background-color: black;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.addtofavoritesbtn {
  border: 2px solid red;
  border: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;

  &__icon {
    margin-right: 5px;
  }
}

.product-specification {
  width: 100%;
  height: 80%;
  padding: 5px;

  &__item {
    text-transform: uppercase;
    border: 2px solid blue;
  }
}

.slider {
  &__container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 620px) {
  .slider {
    &__container {
      width: 40%;
    }
  }

  .product-info {
    &__container {
      width: 50%;
    }
  }

  .product-detail-section {
    flex-direction: row;
  }

}
